h1 {
  text-align: center;
  font-family: "Violet", Arial, Helvetica, sans-serif;
  color: #fff;
  margin-bottom: 20px;
  font-size: 36px;
}
.box {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  min-width: 320px;
  margin-top: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  border-radius: 10px;
}
.box-content {
  height: 100%;
  font-weight: 600;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.box-left {
  flex-grow: 1;
}
.box-right {
  flex-grow: 1;
}
.box input {
  margin: 10px 0;
  width: 84%;
  padding: 8px 10px;
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
  outline: none;
}
::placeholder {
  color: #fff;
  opacity: 1;
}
.box select {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 8px 10px;
  margin: 10px 0;
  color: #fff;
}
.box-content select {
  width: 86%;
}
select option {
  color: #e83e8c;
}

.line {
  border-bottom: 1px solid #fff;
}
.box p {
  margin: 12px 0;
  font-size: 22px;
  color: #fff;
}
.have {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
label {
  cursor: pointer;
  color: #fff;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #f80707;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
#btn-cal-love {
  margin: 15px 0;
  padding: 10px;
  border: none;
}
